<div class="container">
  <div class="row">
    <h1>Patron Management</h1>
  </div>
  <div class="row">

    <div class="col">
      <div class="row">
        <h3>Add Patron</h3>
      </div>
      <div class="row">
        <form class="" action="/patron_management" method="post">
          <div class="form-group">
            <input type="text" name="name" placeholder="Name">
          </div>
          <button type="submit">Add patron</button>
        </form>
      </div>

      <hr>

      <div class="row">
        <button type="button" name="button">Edit Patron</button>
      </div>
    </div>

    <div class="col">
      <ul>
        <% @patrons.each do |patron| %>
          <li><%= patron.id %><%= patron.name %></li>
          <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <a href="/"> <button type="button">Go Back</button> </a>
  </div>
</div>
